[DWH]
HOST=d2b-internal-assessment-dwh.cxeuj0ektqdz.eu-central-1.rds.amazonaws.com
DWH_DB=d2b_assessment
DWH_DB_USER=idrialug9071
DWH_DB_PASSWORD=fBSKguCTJs
DWH_PORT=5432
STAGING_SCHEMA=idrialug9071_staging
ANALYTICS_SCHEMA=idrialug9071_analytics
S3_BUCKET_NAME=d2b-internal-assessment-bucket
ID=idrialug9071
EXPORT=analytics_export